body{
margin:0;
font-family:Arial;
background:#0d0d0d;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#111;
}

nav button{
margin:5px;
padding:8px 15px;
cursor:pointer;
background:#222;
color:white;
border:none;
}

.back{
color:white;
text-decoration:none;
margin-left:20px;
}

.container{
padding:20px;
}

.course{
display:none;
}

.course.active{
display:block;
}

pre{
background:#111;
padding:10px;
border-radius:8px;
}
